@import "https://fonts.googleapis.com/css?family=Lato:400,700";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    color: white; 
    /* background-color: rgb(59, 58, 58); */
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto, auto, 5em;
    grid-template-columns: minmax(25em, 1fr) 25em;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
}

nav {
    grid-area: header;
}

main {
    grid-area: main;
    background-color: black;
}

main h1 {
    padding-bottom: 0;
    border-bottom: 1px solid greenyellow;
}

.navbar {
    width: 100%;
    background-color: rgb(85, 5, 85);
}

.navbar li a {
    color: white !important;
}

#searching {
    background-color: rgb(85, 5, 85);
    border: none;
    border-bottom: 1px dotted black;
    color: white;
}

.search-button {
    background-color: rgb(85, 5, 85);
    border: none;
    margin-right: 30px;
}

.carousel {
    margin-bottom: 60px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-inner h2 {
    text-shadow: 2px 2px 5px black;
    background-color: blueviolet;
    padding: 5px;
}

.carousel-inner button:hover {
    background-color: black;
    border: none;
}

.carousel-caption {
    top: 70%;
}

.sidebar {
    grid-area: sidebar;
    padding: 15px;
    margin: 0;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: black;
}

.top-views {
    border: 1px solid gray;
}

.sidebar h4 {
    padding: 5px;
    background-color: rgb(61, 25, 43);
    width: 100%;
}

.sidebar img {
    width: 30%;
    padding: 20px;
}

/* aside ul {
    padding: 20px;
} */

.sidebar ul li {
    display: flex; 
    flex-wrap: wrap;
}

.sidebar ul li:nth-child(even) {
    background-color: rgb(59, 58, 58);
}

a.top-title {
    /* float: right; */
    color: white;
    text-align: left;
    margin: 5px;
    text-decoration: none;
}

a.top-title:hover {
    /* float: right; */
    text-decoration: none;
    color: red;
}

.side-info {
    margin-top: 13px;
    line-height: 2rem;
}

p.views {
    font-size: 13px;
}

table.news {
    width: 100%;
}

table.news, th {
    border: 1px solid gray;
}

table.news td {
    /* border: 1px solid gray; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0;
}

table.news td.clock-date, table.news td.user {
    text-align: right;
}

table.news td.update {
    margin-left: auto;
    margin-right: auto;
}

.fa.fa-square {
    font-size: 1em;
}

table.news th {
    padding: 15px;
    background-color: rgb(82, 14, 26);
}

table.news td.update {
    color: rgb(146, 17, 81);
    font-weight: bold;
}

table {
    margin-bottom: 50px;
}

.content {
    border: 1px solid gray;
}

.manga-header {
    font-size: larger;
    background-color: rgb(82, 14, 26);
    padding: 15px;
}

.media-body {
    margin-left: 10px;
}

.media-heading a:hover {
    color: white;
    text-decoration: none;
}

.chart-title, .trending {
    color: rgb(146, 17, 81);
}

.row {
    padding: 30px;
}